html {
    background: #e6e9e9;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0em 2em 4em;
}

.jumbotron {
    padding: 1.4em 1em 2.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
}

small {
    color: #222;
}

b, strong {
    font-weight: 600;
}

.collapsing {
    transition: height 0.01ms;
}

.panel {
    box-shadow: none;
}

.grid-container {
    display: grid;
    grid: auto / 160px 200px auto;
    grid-gap: 4px;
}

.grid-container-projects {
    display: grid;
    grid: 160px / 160px auto;
    grid-gap: 4px;
}

.grid-container-projects-notyet {
        display: grid;
        grid: 100px / 160px auto;
        grid-gap: 4px;
}

.img-projects {
    border: 0;
    height: 160px;
    width: 160px;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid: auto / 110px 150px auto;
        grid-gap: 4px;
    }
    
    .grid-container-projects {
        display: grid;
        grid: 180px / 120px auto;
        grid-gap: 4px;
    }
    
    .grid-container-projects-notyet {
        display: grid;
        grid: 100px / 120px auto;
        grid-gap: 4px;
    }
    
    .img-projects {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (max-width: 550px) {
    .grid-container {
        display: grid;
        grid: auto / 90px 110px auto;
        grid-gap: 4px;
    }
    
    .grid-container-projects {
        display: grid;
        grid: 180px / 0px auto;
        grid-gap: 4px;
    }
    
    .grid-container-projects-notyet {
        display: grid;
        grid: 100px / 0px auto;
        grid-gap: 4px;
    }
    
    .img-projects {
        display: none;
    }
}

.grid-container > div {
    text-align: left;
    font-size: 16px;
}

.btn-notyet {
    background-color: dimgray;
    color: darkgrey;
}

.h3-short {
    margin-top: 0;
}
